@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="mbr-section mbr-section-hero mbr-section-full header2 mbr-parallax-background mbr-after-navbar"
    id="header2-1" style="background-image: url(assets/images/f-mwo-dznni-averie-woodard-2000x2000.jpg);">
    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(71, 85, 119);">
    </div>
    <div class="mbr-table mbr-table-full">
        <div class="mbr-table-cell">
            <div class="container">
                <div class="mbr-section row">
                    <div class="mbr-table-md-up">
                        <div class="mbr-table-cell col-md-5 content-size text-xs-center text-md-right">
                            <h3 class="mbr-section-title display-2">QR PERSONAL TRAINER</h3>
                            <div class="mbr-section-text">
                                <p>We aim to make sports equipment functional for you.</p>
                            </div>
                            <div class="mbr-section-btn"><a class="btn btn-black">IPHONE</a> <a
                                    class="btn btn-black">ANDROID</a> </div>
                        </div>
                        <div class="mbr-table-cell mbr-valign-top mbr-left-padding-md-up col-md-7 image-size"
                            style="width: 50%;">
                            <div class="mbr-figure"><img src="assets/images/app-showcase.png"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow mbr-arrow-floating hidden-sm-down" aria-hidden="true"><a href="#header3-k"><i
                class="mbr-arrow-icon"></i></a></div>
</section>

<section class="mbr-section mbr-section__container article" id="header3-k"
    style="background-color: rgb(244, 244, 244); padding-top: 60px; padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="mbr-section-title display-2">COOL APP OVERVIEW</h3>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article mbr-section__container" id="content1-j"
    style="background-color: rgb(244, 244, 244); padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead">Our application brings innovations to the sports equipment that are in
                the parks and that are not used, and allows them to be used. Our application helps you to set
                which sports equipment to use and how to set up the sports order with the qr code added to the
                sports equipment. The aim of our program is to show the effect of an online personal trainer.
            </div>
        </div>
    </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features1-e"
    style="background-color: rgb(244, 244, 244);">
    <div class="mbr-cards-row row striped">
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="assets/images/interface-screenshot0-1.jpg" class="card-img-top">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Pricing</h4>
                        <p class="card-text">
                            personal coach advantage at low price</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="assets/images/interface-screenshot2.jpg" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">variation</h4>
                        <p class="card-text">More than 30 sports events</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="assets/images/interface-screenshot1.jpg" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">compatibility</h4>
                        <p class="card-text">can be installed on any current phone</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="assets/images/interface-screenshot3.jpg" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Availability</h4>
                        <p class="card-text">easy to use within the app</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="msg-box4-6"
    style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">
                <div class="mbr-table-cell col-md-5 text-xs-center text-md-right content-size">
                    <h3 class="mbr-section-title display-2">A SHORT VIDEO TUTORIAL</h3>
                    <div class="lead">
                        <p>this video explains what our app does</p>
                    </div>
                    <div><a class="btn btn-black" href="#">IPHONE</a> <a class="btn btn-black" href="#">ANDROID</a>
                    </div>
                </div>
                <div class="mbr-table-cell mbr-left-padding-md-up mbr-valign-top col-md-7 image-size"
                    style="width: 50%;">
                    <div class="mbr-figure"><iframe class="mbr-embedded-video"
                            src="https://www.youtube.com/embed/Tq7p44IA-1U?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0"
                            width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-i" style="background-color: rgb(244, 244, 244);">
    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox"><a class="mbri-hearth mbr-iconfont mbr-iconfont-features4"
                            style="color: rgb(233, 165, 211);"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Be healty</h4>
                        <p class="card-text">You can download our application for a healthy life.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox"><a class="mbri-globe-2 mbr-iconfont mbr-iconfont-features4"
                            style="color: rgb(39, 170, 224);"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Meet people everywhere</h4>
                        <p class="card-text">download our app you can be friends with other people and train
                            together</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox"><a class="mbri-smile-face mbr-iconfont mbr-iconfont-features4"
                            style="color: rgb(193, 193, 193);"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Be happy</h4>
                        <p class="card-text">Exercising makes people release the hormone of happiness :)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-background" id="testimonials1-7"
    style="background-image: url(assets/images/mbr-2000x1333.jpg); padding-top: 120px; padding-bottom: 120px;">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);">
    </div>
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">WHAT OUR FANTASTIC USERS SAY</h3>
                    <small class="mbr-section-subtitle">Your comments are valuable to us.</small>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-testimonials mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-4">
                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block">
                            <p>“This application helped us to use the sports equipment that are not used in the
                                parks. While most people do not care about sports equipment, they have started
                                to use them thanks to this application.”</p>
                        </div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="assets/images/ellejmi6dqy-abigail-sisson-160x160.jpg"
                                    class="img-circle"></div>
                            <div class="mbr-author-name">Oğuz K.C.</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block">
                            <p>“This application has been very useful for me. When I go to the gym in the
                                mornings, in addition to this, I have started to use the gym equipment. Because
                                the structure of the application is very simple, you have the phone read the
                                code and you start doing sports.”</p>
                        </div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img
                                    src="https://pps.whatsapp.net/v/t61.24694-24/287593947_1470514473398223_6335990096772004803_n.jpg?ccb=11-4&oh=8f90500fd5a7860c8d6101732566dafa&oe=62B7AC98"
                                    class="img-circle"></div>
                            <div class="mbr-author-name">Elif K.</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block">
                            <p>“Thanks to this application, I started to use sports equipment more properly.
                                Because I did not know how to use sports equipment, I was doing movements
                                according to myself.”</p>
                        </div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="assets/images/fqkbxo2nkq0-sticker-mule-160x160.jpg"
                                    class="img-circle">
                            </div>
                            <div class="mbr-author-name">Eren Ü.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="pricing-table2-f" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">HOW MUCH DOES IT COST?</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding mbr-price-table">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xl-4">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-header card-block">

                        <div class="card-title">
                            <h3 class="mbr-plan-title">MONTHLY PLAN</h3>
                            <small class="mbr-plan-subtitle">You can access everything for 30 days</small>
                        </div>
                        <div class="card-text">
                            <div class="mbr-price">
                                <span class="mbr-price-value">$</span>
                                <span class="mbr-price-figure">1</span><small class="mbr-price-term">/mo.</small>
                            </div>
                        </div>
                    </div>
                    <div class="mbr-plan-body card-block">
                        <div class="mbr-plan-list">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">32 different sports workouts</li>
                                <li class="list-group-item">Unlimited users</li>
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="mbr-plan-btn"><a href="#" class="btn btn-black btn-black-outline">DEMO</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-xl-4">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-header card-block bg-primary">
                        <div class="mbr-plan-label">discount!</div>
                        <div class="card-title">
                            <h3 class="mbr-plan-title">HALF YEAR</h3>
                            <small class="mbr-plan-subtitle"> unlimited access for half a year + additional programs</small>
                        </div>
                        <div class="card-text">
                            <div class="mbr-price">
                                <span class="mbr-price-value">$</span>
                                <span class="mbr-price-figure">5</span><small class="mbr-price-term">/hy.</small>
                            </div>
                        </div>
                    </div>
                    <div class="mbr-plan-body card-block">
                        <div class="mbr-plan-list">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">32 different sports workouts + online coach</li>
                                <li class="list-group-item">Unlimited users</li>
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="mbr-plan-btn"><a href="#" class="btn btn-black btn-black-outline">DEMO</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-xl-4">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-header card-block">
                        <div class="card-title">
                            <h3 class="mbr-plan-title">ANNUAL PLAN</h3>
                            <small class="mbr-plan-subtitle">Description</small>
                        </div>
                        <div class="card-text">
                            <div class="mbr-price">
                                <span class="mbr-price-value">$</span>
                                <span class="mbr-price-figure">9</span><small class="mbr-price-term">/year</small>
                            </div>
                        </div>
                    </div>
                    <div class="mbr-plan-body card-block">
                        <div class="mbr-plan-list">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">32 different sports workouts+online coach + diet
                                </li>
                                <li class="list-group-item">Unlimited users</li>
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="mbr-plan-btn"><a href="#" class="btn btn-black btn-black-outline">DEMO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article mbr-parallax-background" id="msg-box3-g" style="background-image: url(assets/images/mbr-5.jpg); padding-top: 120px; padding-bottom: 120px;">
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">DOWNLOAD NOW</h3>

                <div><a class="btn btn-black" href="#">IPHONE</a> <a class="btn btn-black" href="#">ANDROID</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article" id="msg-box22-g" style="padding-top: 40px; padding-bottom: 20px;">
    <div class="mbr-overlay" style="background-color: #f4f4f4;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <p>created by OUZ-ERN-ELF software</p>
            </div>
        </div>
    </div>
</section>

<input name="animation" type="hidden">
